<div>
  <% if @notice %>
    <h2><%= @notice %></h2>
  <% end %>

  <div><b>Title:</b> <%= @recipe.title %></div>

  <p/>

  <h1>Ingredients</h1>  
  <% @recipe.ingredients.each do |ingredient| %>
    <li><%= ingredient.description %></li>
  <% end %>

  <p/>

  <h1>Steps</h1>  
  <% @recipe.steps.each do |step| %>
    <li><%= step.description %></li>
  <% end %>

  <p/>

  <div>
    <%= link_to 'Delete', "/recipes/#{@recipe.id}", method: :delete %>
  </div>
  <div>
    <%= link_to 'Index', "/recipes", method: :get %>
  </div>
</div>